.venv/
analysis of data/
classified_datasets/
classified_datasets/traffic/anpr_excel/excel/
/__pycache__
.cache.sqlite
/online_data
/cache
/processed_data_pkl
/maps
/models_saved/4.6multivariate.pkl
spatio_temporal_architecture.md
thesis_progress.md
methodology_report.md
methodology_summary.md